button {
  cursor: pointer;
  border: none;
  outline: none;
}

.square-input {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: center;
  border: 1px solid #C0C0C0;
}

.container {
  display: grid;
  grid-template-columns: repeat(max-content);
  gap: 10px;
  grid-auto-rows: auto;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-area: itema;
}

.itema {
  background-color: red;
}

