button {
  cursor: pointer;
  border: none;
  outline: none;
}

.square-input {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: center;
  border: 1px solid #C0C0C0;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.3fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

