button {
  cursor: pointer;
  border: none;
  outline: none;
}

.square-input {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: center;
  border: 1px solid #C0C0C0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30px);
  gap: 10px;
  grid-auto-rows: auto;
}

